<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seglino.jingyi.assets.dao.AssetsPositionDao">
	<!-- 数据表名 -->
	<sql id="tableName">tab_assets_position</sql>

	<!-- 数据字段 -->
	<sql id="column">
		id,
		name,
		parentId,
		createTime,
		createUid,
		modifyTime,
		modifyUid,
		deleteTime,
		deleteUid,
		isDeleted
	</sql>

	<!-- 查询条件 -->
	<sql id="condition">
		<if test="id != null"> and id = #{id}</if>
		<if test="name != null"> and name like '%${name}%'</if>
		<if test="parentId != null and isSelf"> and (id = #{parentId} or parentId = #{parentId})</if>
		<if test="parentId != null and isSelf"> and parentId = #{parentId}</if>
		<if test="isDeleted != null"> and isDeleted = #{isDeleted}</if>
	</sql>

	<!-- 根据条件获取列表 -->
	<select id="list" resultType="com.seglino.jingyi.assets.pojo.AssetsPosition">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
		ORDER BY createTime ASC
	</select>

	<!-- 根据条件获取分页列表 -->
	<select id="pageByIndex" resultType="com.seglino.jingyi.assets.dto.AssetsPositionListDto">
		SELECT id,
		name,
		parentId,
		(SELECT name FROM tab_assets_position WHERE id = a.parentId) AS parentName
		FROM tab_assets_position a
		<where>
			<include refid="condition"></include>
		</where>
		ORDER BY createTime ASC
	</select>

	<select id="tree" resultType="com.seglino.jingyi.assets.dto.AssetsPositionTreeDto">
		SELECT id,
		name as label,
		id as value,
		(SELECT COUNT(*) FROM tab_assets_position where parentId = a.id) AS childCount
		FROM tab_assets_position a
		<where>
			<if test="parentId != null"> parentId = #{parentId}</if>
			<if test="parentId == null or parentId == ''"> parentId is null</if>
		</where>
		ORDER BY createTime ASC
	</select>

	<!-- 根据条件获取详情 -->
	<select id="detail" resultType="com.seglino.jingyi.assets.pojo.AssetsPosition">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
	</select>

	<!-- 判断同一上级位置中是否存在重复名称的位置 -->
	<select id="existsByName" resultType="Integer">
		SELECT COUNT(*) FROM
		<include refid="tableName"></include>
		<where>
			name = #{name} AND parentId = #{parentId}
		</where>
	</select>

	<!-- 根据条件获取数据总数 -->
	<select id="count" resultType="com.seglino.jingyi.assets.pojo.AssetsPosition">
		SELECT COUNT(*) FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
	</select>

	<!-- 插入 -->
	<insert id="insert" parameterType="com.seglino.jingyi.assets.pojo.AssetsPosition">
		INSERT INTO
		<include refid="tableName"></include>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="name != null">name,</if>
			<if test="parentId != null">parentId,</if>
			<if test="createTime != null">createTime,</if>
			<if test="createUid != null">createUid,</if>
			<if test="modifyTime != null">modifyTime,</if>
			<if test="modifyUid != null">modifyUid,</if>
			<if test="deleteTime != null">deleteTime,</if>
			<if test="deleteUid != null">deleteUid,</if>
			<if test="isDeleted != null">isDeleted,</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="name != null">#{name},</if>
			<if test="parentId != null">#{parentId},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="createUid != null">#{createUid},</if>
			<if test="modifyTime != null">#{modifyTime},</if>
			<if test="modifyUid != null">#{modifyUid},</if>
			<if test="deleteTime != null">#{deleteTime},</if>
			<if test="deleteUid != null">#{deleteUid},</if>
			<if test="isDeleted != null">#{isDeleted},</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="com.seglino.jingyi.assets.pojo.AssetsPosition">
		UPDATE
		<include refid="tableName"></include>
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="parentId != null">parentId = #{parentId},</if>
			<if test="createTime != null">createTime = #{createTime},</if>
			<if test="createUid != null">createUid = #{createUid},</if>
			<if test="modifyTime != null">modifyTime = #{modifyTime},</if>
			<if test="modifyUid != null">modifyUid = #{modifyUid},</if>
			<if test="deleteTime != null">deleteTime = #{deleteTime},</if>
			<if test="deleteUid != null">deleteUid = #{deleteUid},</if>
			<if test="isDeleted != null">isDeleted = #{isDeleted},</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 物理删除 -->
	<delete id="delete" parameterType="Object">
		DELETE FROM
		<include refid="tableName" />
		<where>
			id = #{id}
		</where>
	</delete>
</mapper>