<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seglino.jingyi.assets.dao.AssetsDao">
	<!-- 数据表名 -->
	<sql id="tableName">tab_assets</sql>

	<!-- 数据字段 -->
	<sql id="column">
		id,
		categoryId,
		positionId,
		code,
		name,
		imageUrl,
		owner,
		admin,
		brand,
		model,
		status,
		useStatus,
		useTerm,
		amount,
		startDate,
		purchasingMethod,
		orderCode,
		remark,
		serialNum,
		supplier,
		supplierContact,
		supplierMobile,
		maintDate,
		maintNotes,
		createTime,
		createUid,
		modifyTime,
		modifyUid,
		deleteTime,
		deleteUid,
		isDeleted
	</sql>

	<!-- 查询条件 -->
	<sql id="condition">
		<if test="id != null"> and id = #{id}</if>
		<if test="name != null and name != ''"> and name like '%${name}%'</if>
		<if test="isDeleted != null"> and isDeleted = #{isDeleted}</if>
	</sql>

	<!-- 根据条件获取列表 -->
	<select id="list" resultType="com.seglino.jingyi.assets.pojo.Assets">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
		ORDER BY createTime ASC
	</select>

	<!-- 根据条件获取分页列表 -->
	<select id="pageByIndex" resultType="com.seglino.jingyi.assets.dto.AssetsListDto">
		SELECT id,
					 (SELECT name FROM tab_assets_category where id = a.categoryId) AS categoryName,
					 (SELECT name FROM tab_assets_position where id = a.positionId) AS positionName,
					 code,
					 name,
					 brand,
					 model,
					 status,
					 useStatus,
					 admin,
					 (SELECT name FROM tab_user where id = a.admin) AS adminName,
					 purchasingMethod,
					 startDate,
					 owner
			FROM tab_assets a
		<where>
			<include refid="condition"></include>
		</where>
		ORDER BY createTime DESC
	</select>

	<!-- 根据条件获取详情 -->
	<select id="detail" resultType="com.seglino.jingyi.assets.pojo.Assets">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
	</select>

	<!-- 根据条件获取数据总数 -->
	<select id="count" resultType="Integer">
		SELECT COUNT(*) FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
	</select>

	<!-- 插入 -->
	<insert id="insert" parameterType="com.seglino.jingyi.assets.pojo.Assets">
		INSERT INTO
		<include refid="tableName"></include>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="name != null">name,</if>
			<if test="parentId != null">parentId,</if>
			<if test="createTime != null">createTime,</if>
			<if test="createUid != null">createUid,</if>
			<if test="modifyTime != null">modifyTime,</if>
			<if test="modifyUid != null">modifyUid,</if>
			<if test="deleteTime != null">deleteTime,</if>
			<if test="deleteUid != null">deleteUid,</if>
			<if test="isDeleted != null">isDeleted,</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="name != null">#{name},</if>
			<if test="parentId != null">#{parentId},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="createUid != null">#{createUid},</if>
			<if test="modifyTime != null">#{modifyTime},</if>
			<if test="modifyUid != null">#{modifyUid},</if>
			<if test="deleteTime != null">#{deleteTime},</if>
			<if test="deleteUid != null">#{deleteUid},</if>
			<if test="isDeleted != null">#{isDeleted},</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="com.seglino.jingyi.assets.pojo.Assets">
		UPDATE
		<include refid="tableName"></include>
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="parentId != null">parentId = #{parentId},</if>
			<if test="createTime != null">createTime = #{createTime},</if>
			<if test="createUid != null">createUid = #{createUid},</if>
			<if test="modifyTime != null">modifyTime = #{modifyTime},</if>
			<if test="modifyUid != null">modifyUid = #{modifyUid},</if>
			<if test="deleteTime != null">deleteTime = #{deleteTime},</if>
			<if test="deleteUid != null">deleteUid = #{deleteUid},</if>
			<if test="isDeleted != null">isDeleted = #{isDeleted},</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 物理删除 -->
	<delete id="delete" parameterType="Object">
		DELETE FROM
		<include refid="tableName" />
		<where>
			id = #{id}
		</where>
	</delete>
</mapper>