<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seglino.jingyi.notice.dao.NoticeAttachDao">
	<!-- 数据表名 -->
	<sql id="tableName">tab_notice_attach</sql>
	
	<!-- 数据字段 -->
	<sql id="column">
		id,
		noticeId,
		attachName,
		attachUrl,
		createTime,
		createUid,
		modifyTime,
		modifyUid,
		deleteTime,
		deleteUid,
		isDeleted
	</sql>
	
	<!-- 查询条件 -->
	<sql id="condition">
		<if test="noticeId != null"> and noticeId = #{noticeId}</if>
		<if test="isDeleted != null"> and isDeleted = #{isDeleted}</if>
	</sql>

	<!-- 根据条件获取列表 -->
	<select id="list" resultType="com.seglino.jingyi.notice.pojo.NoticeAttach">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
		ORDER BY createTime DESC
	</select>

	<!-- 根据条件获取详情 -->
	<select id="detail" resultType="com.seglino.jingyi.notice.pojo.NoticeAttach">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
	</select>

	<!-- 根据ID获取详情 -->
	<select id="detailById" resultType="com.seglino.jingyi.notice.pojo.NoticeAttach">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include>
		<where>
			id = #{id}
		</where>
	</select>
	
	<!-- 根据条件获取数据总数 -->
	<select id="count" resultType="com.seglino.jingyi.notice.pojo.NoticeAttach">
		SELECT COUNT(*) FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
	</select>

	<!-- 插入 -->
	<insert id="insert" parameterType="com.seglino.jingyi.notice.pojo.NoticeAttach">
		INSERT INTO
		<include refid="tableName"></include>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="noticeId, != null">noticeId,</if>
			<if test="attachName != null">attachName,</if>
			<if test="attachUrl != null">attachUrl,</if>
			<if test="createTime != null">createTime,</if>
			<if test="createUid != null">createUid,</if>
			<if test="modifyTime != null">modifyTime,</if>
			<if test="modifyUid != null">modifyUid,</if>
			<if test="deleteTime != null">deleteTime,</if>
			<if test="deleteUid != null">deleteUid,</if>
			<if test="isDeleted != null">isDeleted,</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="noticeId != null">#{noticeId},</if>
			<if test="attachName != null">#{attachName},</if>
			<if test="attachUrl != null">#{attachUrl},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="createUid != null">#{createUid},</if>
			<if test="modifyTime != null">#{modifyTime},</if>
			<if test="modifyUid != null">#{modifyUid},</if>
			<if test="deleteTime != null">#{deleteTime},</if>
			<if test="deleteUid != null">#{deleteUid},</if>
			<if test="isDeleted != null">#{isDeleted},</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="com.seglino.jingyi.notice.pojo.NoticeAttach">
		UPDATE
		<include refid="tableName"></include>
		<set>
			<if test="noticeId != null">noticeId = #{noticeId},</if>
			<if test="attachName != null">attachName = #{attachName},</if>
			<if test="attachUrl != null">attachUrl = #{attachUrl},</if>
			<if test="createTime != null">createTime = #{createTime},</if>
			<if test="createUid != null">createUid = #{createUid},</if>
			<if test="modifyTime != null">modifyTime = #{modifyTime},</if>
			<if test="modifyUid != null">modifyUid = #{modifyUid},</if>
			<if test="deleteTime != null">deleteTime = #{deleteTime},</if>
			<if test="deleteUid != null">deleteUid = #{deleteUid},</if>
			<if test="isDeleted != null">isDeleted = #{isDeleted},</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 逻辑删除 -->
	<update id="delete" parameterType="com.seglino.jingyi.common.core.po.BaseEntity">
		UPDATE
		<include refid="tableName"></include>
		<set>
			deleteTime = SYSDATE(),
			deleteUid = #{deleteUid},
			isDeleted = true,
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 恢复删除 -->
	<update id="restore" parameterType="com.seglino.jingyi.common.core.po.BaseEntity">
		UPDATE
		<include refid="tableName"></include>
		<set>
			deleteTime = SYSDATE(),
			deleteUid = #{deleteUid},
			isDeleted = false,
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
	<!-- 物理删除 -->
	<delete id="deletePhysical" parameterType="Object">
		DELETE FROM
		<include refid="tableName" />
		<where>
			id = #{id}
		</where>
	</delete>
</mapper>