<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seglino.jingyi.user.dao.UserDao">
	<!-- 数据表名 -->
	<sql id="tableName">tab_user</sql>
	
	<!-- 数据字段 -->
	<sql id="column">
		a.id,
		a.name,
		a.mobile,
		a.tel,
		a.email,
		a.avatar,
		a.position,
		a.ddUserId,
		a.openid,
		a.unionid,
		a.type,
		a.json,
		a.createTime,
		a.createUid,
		a.modifyTime,
		a.modifyUid,
		a.deleteTime,
		a.deleteUid,
		a.isDeleted
	</sql>
	
	<!-- 查询条件 -->
	<sql id="condition">
		<if test="id != null"> and a.id = #{id}</if>
		<if test="name != null and name != ''"> and a.name like '%${name}%'</if>
		<if test="mobile != null"> and a.mobile like '%${mobile}%'</if>
		<if test="tel != null"> and a.tel like '%${tel}%'</if>
		<if test="position != null"> and a.position like '%${position}%'</if>
		<if test="ddUserId != null"> and a.ddUserId = #{ddUserId}</if>
		<if test="openid != null"> and a.openid = #{openid}</if>
		<if test="unionid != null"> and a.unionid = #{unionid}</if>
		<if test="type != null"> and a.type = #{type}</if>
		<if test="isDeleted != null"> and a.isDeleted = #{isDeleted}</if>
		<if test="deptId != null"> and b.deptId = #{deptId}</if>
	</sql>

	<!-- 根据条件获取列表 -->
	<select id="list" resultType="com.seglino.jingyi.user.pojo.User">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include> a
		<where>
			<include refid="condition"></include>
		</where>
		ORDER BY createTime ASC
	</select>
	
	<!-- 分页获取列表 -->
	<select id="page" resultType="com.seglino.jingyi.user.pojo.User">
		SELECT
		<include refid="column"></include>
		FROM <include refid="tableName"></include> a
		JOIN tab_dept_user b ON a.id = b.userId
		<where>
			<include refid="condition"></include>
		</where>
		ORDER BY sortNo DESC
	</select>

	<!-- 根据条件获取详情 -->
	<select id="detail" resultType="com.seglino.jingyi.user.pojo.User">
		SELECT
		<include refid="column"></include>
		FROM
		<include refid="tableName"></include> a
		<where>
			<include refid="condition"></include>
		</where>
	</select>

	<!-- 根据条件获取详情 -->
	<select id="detailForDept" resultType="com.seglino.jingyi.user.dto.UserDetailDto">
		SELECT
		<include refid="column"></include>,
		(SELECT GROUP_CONCAT(`name` SEPARATOR '，') FROM tab_dept b JOIN tab_dept_user c ON b.id = c.deptId WHERE c.userId = a.id GROUP BY c.userid) as deptNames
		FROM
		<include refid="tableName"></include> a
		<where>
			<include refid="condition"></include>
		</where>
	</select>
	
	<!-- 根据条件获取数据总数 -->
	<select id="count" resultType="com.seglino.jingyi.user.pojo.User">
		SELECT COUNT(*) FROM
		<include refid="tableName"></include>
		<where>
			<include refid="condition"></include>
		</where>
	</select>

	<!-- 插入 -->
	<insert id="insert" parameterType="com.seglino.jingyi.user.pojo.User">
		INSERT INTO
		<include refid="tableName"></include>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="name != null">name,</if>
			<if test="mobile != null">mobile,</if>
			<if test="tel != null">tel,</if>
			<if test="email != null">email,</if>
			<if test="avatar != null">avatar,</if>
			<if test="position != null">position,</if>
			<if test="ddUserId != null">ddUserId,</if>
			<if test="openid != null">openid,</if>
			<if test="unionid != null">unionid,</if>
			<if test="type != null">type,</if>
			<if test="json != null">json,</if>
			<if test="createTime != null">createTime,</if>
			<if test="createUid != null">createUid,</if>
			<if test="modifyTime != null">modifyTime,</if>
			<if test="modifyUid != null">modifyUid,</if>
			<if test="deleteTime != null">deleteTime,</if>
			<if test="deleteUid != null">deleteUid,</if>
			<if test="isDeleted != null">isDeleted,</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="name != null">#{name},</if>
			<if test="mobile != null">#{mobile},</if>
			<if test="tel != null">#{tel},</if>
			<if test="email != null">#{email},</if>
			<if test="avatar != null">#{avatar},</if>
			<if test="position != null">#{position},</if>
			<if test="ddUserId != null">#{ddUserId},</if>
			<if test="openid != null">#{openid},</if>
			<if test="unionid != null">#{unionid},</if>
			<if test="type != null">#{type},</if>
			<if test="json != null">#{json},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="createUid != null">#{createUid},</if>
			<if test="modifyTime != null">#{modifyTime},</if>
			<if test="modifyUid != null">#{modifyUid},</if>
			<if test="deleteTime != null">#{deleteTime},</if>
			<if test="deleteUid != null">#{deleteUid},</if>
			<if test="isDeleted != null">#{isDeleted},</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="com.seglino.jingyi.user.pojo.User">
		UPDATE
		<include refid="tableName"></include>
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="mobile != null">mobile = #{mobile},</if>
			<if test="tel != null">tel = #{tel},</if>
			<if test="email != null">email = #{email},</if>
			<if test="avatar != null">avatar = #{avatar},</if>
			<if test="position != null">position = #{position},</if>
			<if test="ddUserId != null">ddUserId = #{ddUserId},</if>
			<if test="openid != null">openid = #{openid},</if>
			<if test="unionid != null">unionid = #{unionid},</if>
			<if test="type != null">type = #{type},</if>
			<if test="json != null">json = #{json},</if>
			<if test="createTime != null">createTime = #{createTime},</if>
			<if test="createUid != null">createUid = #{createUid},</if>
			<if test="modifyTime != null">modifyTime = #{modifyTime},</if>
			<if test="modifyUid != null">modifyUid = #{modifyUid},</if>
			<if test="deleteTime != null">deleteTime = #{deleteTime},</if>
			<if test="deleteUid != null">deleteUid = #{deleteUid},</if>
			<if test="isDeleted != null">isDeleted = #{isDeleted},</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 逻辑删除 -->
	<update id="delete" parameterType="com.seglino.jingyi.common.core.po.BaseEntity">
		UPDATE
		<include refid="tableName"></include>
		<set>
			deleteTime = SYSDATE(),
			deleteUid = #{deleteUid},
			isDeleted = true,
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 恢复删除 -->
	<update id="restore" parameterType="com.seglino.jingyi.common.core.po.BaseEntity">
		UPDATE
		<include refid="tableName"></include>
		<set>
			deleteTime = SYSDATE(),
			deleteUid = #{deleteUid},
			isDeleted = false,
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
	<!-- 物理删除 -->
	<delete id="deletePhysical" parameterType="Object">
		DELETE FROM
		<include refid="tableName" />
		<where>
			id = #{id}
		</where>
	</delete>
</mapper>