::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: #eee;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
}
::-webkit-scrollbar-corner {
  background-color: #e4e5e5;
}
iframe::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #f6f6f6;
  font-family: 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', 'sans-serif';
}

fieldset {
  border: none;
  border-bottom: dashed 1px #ddd;
  margin-bottom: 15px;
}
fieldset:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

fieldset legend {
  color: #999;
  font-weight: 600;
  font-size: 14px;
}

.el-menu {
  border-right: none;
}

.el-form {
  max-width: 800px;
}

.el-dialog {
  overflow: hidden;
  border-radius: 5px;
}
.el-dialog .el-dialog__header {
  background-color: #efefef;
  border-bottom: solid 1px #e8e8e8;
}

.el-upload__tip {
  line-height: 15px;
  color: #afafaf;
  margin-top: 3px;
  margin-bottom: 15px;
}

.app-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.app-container .app-header {
  position: relative;
  height: 60px;
  border-bottom: solid 1px #ddd;
  background-color: #1890ff;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.9);
}
.app-container .app-header .app-name {
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  float: left;
}

.app-container .app-header .user-info {
  position: relative;
  float: right;
  overflow: hidden;
  cursor: pointer;
}

.app-container .app-header .user-info .user {
  height: 60px;
  text-align: right;
  font-size: 14px;
}

.app-container .app-header .user-info .user-avatar {
  position: relative;
  top: 50%;
  margin-right: 5px;
  transform: translateY(-50%);
  display: inline-block;
}
.app-container .app-header .user-info .user-name {
  position: relative;
  color: #fff;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  display: inline-block;
}

.app-container .app-content-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.app-container .app-side {
  width: 200px;
  background-color: #fdfdfd;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-container .app-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.main-header {
  margin-bottom: 20px;
  height: 40px;
  border-bottom: solid 1px #ddd;
  display: flex;
}
.main-header .title {
  line-height: 40px;
  font-size: 18px;
  color: #666;
  flex: 1;
  margin-left: 10px;
}

.main-header .buttons {
  padding-bottom: 10px;
  text-align: right;
}

.app-main {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
}

.main-container {
  display: flex;
  height: 100%;
}
.tree-container {
  width: 200px;
  height: calc(100vh - 164px);
  margin-right: 20px;
  border: solid 1px #ebeef5;
}
.main-table {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

.table-page {
  position: fixed;
  bottom: 20px;
  background-color: transparent;
}

.form-item-desc {
  line-height: 20px;
  color: #ccc;
  font-size: 12px;
}

.cell .el-link {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/******************** 禁用状态下 单选按钮样式 开始 ********************/
.el-radio.is-bordered.is-checked.is-disabled {
  border-color: #409eff;
  opacity: 0.6;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner {
  background-color: #409eff;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #fff;
}
.el-radio__input.is-disabled.is-checked + span.el-radio__label {
  color: #409eff;
}

.el-radio-button.is-disabled input:checked + .el-radio-button__inner {
  background-color: #409eff;
  color: #fff;
  opacity: 0.6;
}
/******************** 禁用状态下 单选按钮样式 结束 ********************/

.options-buttons .el-button--mini {
  padding: 5px 3px;
}
.options-buttons .el-button + .el-button {
  margin-left: 3px;
}

/************************** 搜索栏 开始 **************************/
.app-content .search-bar {
  display: flex;
  margin-bottom: 10px;
}

.app-content .search-bar .tag-wrapper {
  flex: 1;
}

.app-content .search-bar .el-input-group {
  width: 300px;
}

.advance-search .el-drawer__header {
  margin-bottom: 15px;
  padding-top: 15px;
}

.advance-search .el-drawer__body {
  background-color: #f6f6f6;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.advance-search .el-drawer__body .content {
  flex: 1;
}
.advance-search .el-drawer__body .footer {
  display: flex;
}
.advance-search .el-drawer__body .footer .el-button {
  flex: 1;
}
/************************** 搜索栏 结束 **************************/
